:root {
    color-scheme: light;
}

body { 
    margin: 0; 
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Poppins", serif;
    color: #fff;
    background-color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}
canvas { 
    display: block; 
}

#tree-container {
    position: absolute;
    top: -54vh;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    --container-width: 40vw;
    --container-padding: 10px;
    width: var(--container-width);
    position: absolute;
    margin-top: 20vh;
    color: white;
    padding: var(--container-padding);
    margin-left: calc(50vw - calc(var(--container-width) + var(--container-padding)*2)/2);
    text-align: center;
}

.article {
    --container-width: 60vw;
    background-color: #040404;
    text-align: left;
    --container-padding: 30px;
    margin-top: 10vh;
    border-top: 2px solid #0bd5af;
}

#container-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    transform-origin: center 75px;
    transform: rotate(-50deg) translateY(-20px);
}

#container-description {
    margin-top: 50px;
    line-height: 2;
}

marked {
    color: #0bd5af;
    font-weight: 600;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 30px;
}

#menu .menu-item:nth-of-type(2) {
    margin-top: 20px;
}

.menu-item {
    width: 35px;
    height: 35px;
    background-color: #0bd5af;
    border-radius: 15px;
    border: 4px solid #034a3d;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 1px 3px black;
}

.menu-item:hover {
    opacity: 60%;
}

footer {
    margin-top: 30px;
    opacity: 30%;
    text-align: center;
}

#container-project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container-project-box {
    background-color: #121212;
    border-radius: 10px;
    border-bottom: 3px solid #ffffff70;
    cursor: pointer;
}

.container-project-box:hover {
    opacity: 60%;
}

.container-project-title {
    text-align: left;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.icon_projects {
    width: 20px;
}

.icon_links {
    width: 35px;
    cursor: pointer;
}

#article-title {
    font-size: 30px;
    border-bottom: 1px solid #fff;
}

.return-button {
    padding-bottom: 20px;
}

@media (max-width: 1024px) {
    .container {
        --container-width: 80vw;
    }
}